DATABASE_URL="postgresql://nodewave:password@localhost:5433/nodewave?schema=public"
JWT_SECRET="32-CHARS-SECRET_KEY"
EXPIRES_IN_SECONDS=86400
CORS_ORIGIN="http://localhost:3000"
PORT=3000
ALLOW_PUBLIC_REGISTER=false
SEED_PASSWORD="seed-password"